@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'roboto', sans-serif;
}

body { 
    background-color: #eaeaea;
}

.generate-btn {
    font-family: 'Play', sans-serif!important;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 14px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 3px 4px 16px #c5c5c591,
                -3px -3px 13px #ffffff;
   }
   
   .generate-btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #12c149 0%, #aff947 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .generate-btn:hover::before {
    width: 9em;
   }

   .input-container input {
    -webkit-box-shadow: inset 0px 0px 13px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 13px -9px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 13px -9px rgba(0,0,0,0.32);
   }